h1.primeiro{
    color:#08CBFC;
    text-align: center;
}

h1.segundo{
    color: #078DD9;

}

h1.terceiro{
    color:#0576F0 ;

}

h1.quarto{
    color: #074BD9;

}

h1.quinto{
    color:#3053FA ;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

   
p {
    text-indent: 25px;
    text-align: justify;
    color: black;
    font-size: 25px;
}

p.ptitulo{
    color: #074BD9;
}

p.titulo1{


}

p.titulo2{

}

p.titulo3{

}

p.titulo4{

    
}
body {
    padding: 10px;
}