@charset "UTF-8";
/* Cabeçalho */
.Item-Lista-Cabeçalho a {

    color: #112e61;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
}
/* Seção Hero  */
h1{
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    color: #404040;
    line-height: 42px;
    font-weight: 600;
}

.paragrafo1 {
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    color: #404040;
    /* único parágrafo da seção hero */
}

.hero-botão {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;

}

/* Seçao conteúdos gratuitos */

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: ;

}
/* Poderia fazer > h2.span-gratuito span{

}  */
.span-gratuito {
    font-weight: 600;
    color: #7a40be;

}

.gratuitos-h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 23px;
    font-weight: 700;
}

.gratuito-item-lista {

    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;

}