@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    line-height: 1.4;
}

/* h1,
h2,
h3,
p,
a,
li,
figcaption{
    font-family: "Montserrat", sans-serif;
} */

h1{
    font-size: 4.5rem;
    line-height: 1;
  
}
h1::first-letter{
    font-size: 6.4rem;

}

h2{
    font-size: 3.2rem;
    line-height: 1.1;
   
}

h3{
    font-size: 2.4rem;
    line-height: 1.2;
   
}

span{
    color: rgb(117, 175, 246);
}


 p{  

} 
figcaption{
    font-size: 1.2;
    font-style: italic;
    
    

}

a:link, a:visited{  display: inline-block;
    color: #c44105;
    font-size: 2.4rem;
    font-weight: 700;
    text-decoration: double;
    text-decoration-line: underline;
    
}
a:hover, a:active{
    color: #0588c4;

}
ul{
    margin-bottom: 2.4rem;
    margin-left: 2.4rem;
}

li{
    color: #035276;
    margin-bottom: .6rem;


}

hr{
    display: none;
}
section{
    padding: 2.4rem;

}

figure{

   display: flex;
   flex-flow: column;
   align-items: center;
}
figure img{
    width: 30rem;
}
.realce-italico{
    color: #0588c4;
    font-style: italic;
    text-decoration: underline;
}

.semjuros{
    color: #0588c4;
}

.condições{
    display: inline-block;
    background-color: #035276;
    color: #fff;
    box-shadow: 0 0 1.6rem .4rem rgba(0,0,0,0.15);
    padding: 2.4rem 3.2rem;
    border-radius: 2rem;
}