@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    line-height: 1.4;
}

/* h1,
h2,
h3,
p,
a,
li,
figcaption{
    font-family: "Montserrat", sans-serif;
} */

h1{
    font-size: 4.5rem;
    line-height: 1;
    margin-bottom: 3.2rem;
}

h2{
    font-size: 3.2rem;
    line-height: 1.1;

}

h3{
    font-size: 2.4rem;
    line-height: 1.2;
}



/* p{  font-size: 1.8rem;
    line-height: 1.4;

} */
figcaption{
    font-size: 1.2;
    font-style: italic;
    

}

a{
    color: #c44105;
    font-size: 2.4rem;
    font-weight: 700;
    text-decoration: double;
    text-decoration-line: underline;
}

li{
    color: #035276;

}

hr{
    display: none;
}
section{
    padding: 2.4rem;

}

figure{

    margin-bottom: 3.2rem;
}