@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    line-height: 1.4;
}

h1,
h2,
h3,
p,
a,
li,
figcaption{
    font-family: "Montserrat", sans-serif;
}

h1{
    font-size: 4.5rem;
    line-height: 1;
}

h2{
    font-size: 3.2rem;
    line-height: 1.1;

}

h3{
    font-size: 2.4rem;
    line-height: 1.2;
}

hr{
    display: none;
}

p{

}

a{

}

figcaption{


}