body{background-color: aqua; font-family: Arial, Helvetica, sans-serif; font-size: 20px; font-style: italic;}
h1 { color: blue;background-color: aquamarine;}
h2 {color: darkblue;}
p {color:black; text-align: justify;}