@charset "UTF-8";

/* comfigurações gerais*/

* { margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}  /* configurações gerais padding= preenchimento*/ 

html, body{
    width: 100vw; /* largura da tela*/
    height: 100vh;
    background-color:blue;
    background-size: contain; 

}

h1{ color:white;
    text-shadow: 3px 3px 0px darkblue;
    padding: 10px;
}

