@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Roboto:ital,wght@1,900&display=swap');

@font-face {
    font-family: ;
    src: url();
}
*{  margin: 0px;
    padding: 0px;}

html{
     

}

body{

    background-color:#C2C2C0;
}

h1{
    text-align: center;
    font-family:  Roboto;
    font-weight: bolder;
    font-size: 6,9rem;
    padding: 50px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 110px;
    border-bottom: 10pc;
}

h2{
    font-family: Roboto;
    text-align: center;
    padding: 50px;
    font-size: 1,9rem;
}

.resumo{
    text-align: justify;
    padding: 100px;

}

.redes_sociais{

    padding: 50px;
    font-family: Roboto;
    text-align: center;
    font-size: xx-large;
}

.instagram{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 110px;
    border-bottom: 10pc;
    text-align: center;
   
}

.linkedin{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 110px;
    border-bottom: 10pc;
    text-align: center;
}
.reservados{
    text-align: center;
    padding: 30px;
}

footer{
    text-align: justify;
    margin: 10px;
    font-family: Roboto;
}