@charset "UTF-8";

*{  margin: 0px;
    padding: 0px;}

html{}

body{

    background-color:#C2C2C0;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1,9rem;
    padding: 50px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2{
    text-align: center;
    padding: 20px;
}

.resumo{
    text-align: justify;
    padding: 10px;
    
}
.reservados{
    text-align: center;
    padding: 30px;
}

footer{
    text-align: justify;
    margin: 
    10px;
}