@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Roboto:ital,wght@1,900&display=swap');

@font-face {
    font-family: ;
    src: url();
}
*{  margin: 0px;
    padding: 0px;}

html{


}

body{

    background-color:#C2C2C0;
}

h1{
    text-align: center;
    font-family:  Roboto;
    font-weight: bolder;
    font-size: 2,9rem;
    padding: 50px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

h2{
    font-family: Roboto;
    text-align: center;
    padding: 50px;
}

.resumo{
    text-align: justify;
    padding: 10px;

}
.reservados{
    text-align: center;
    padding: 30px;
}

footer{
    text-align: justify;
    margin: 
    10px;
}