@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    line-height: 1.2;
    color: #303030;
  }
  
  /* Paginação */

  .paginacao{
    padding: 6.1rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    
  }

  .paginação-botão,.paginação-link.pagina-ativa,.paginação-link:hover{
    font-size: 1.93rem;
    font-weight: 700;
    background-color: #077768;
    color: white;

  }

  .paginação-botão{
    
    /* padding: 1.02rem; */
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer;
    border: 0;  }

.paginação-botão:hover{

    color: #077768;
    background-color: aliceblue;
    border: 1px solid #077768 ;


}

.paginação-link{
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.paginação-link.pagina-ativa{

    font-weight: 700;
    background-color: #077768;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer;
    width: 3.5rem;
    height: 3.5rem;}

.paginação-link.pagina-ativa, .paginação-link:hover{
   

}

.paginação{

    & a{

        color: red;
    }
}