@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    line-height: 1.2;
    color: #303030;
  }
  
  /* Paginação */

  .paginacao{
    display: flex;
    gap: 2.5rem;
    
  }

  .paginação-botão{
    font-size: 1.93rem;
    font-weight: 700;
    background-color: #077768;
    color: white;
    /* padding: 1.02rem; */
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer;
    border: 0;  }

.paginação-botão:hover{

    color: #077768;
    background-color: aliceblue;
    border: 1px solid #077768 ;


}