@charset "UTF-8";

body{
    background-color: aqua;

}

.data1{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    
}
.sec-01{
    padding: 10px;
    
}
.fpref{
    
    
}
.input{
    padding: 5px;
}

summary{

    font-family: Arial, Helvetica, sans-serif;
    color: red;
    text-indent: 30px;
    font-size: 30px;

}

.l1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(55, 25, 14);
    font-weight: 500;

}

.l2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dt1{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;

    
}