@charset "UTF-8";

*{
    margin: 0;
    padding: 0;

}
html{
    font-size: 62.5%;
    background-color: white;}
h1{
    font-family:  "Montserrat", sans-serif;
    font-size: 35px;
    text-decoration: none;
    color: #63347b;
    padding: 20px;
}
h2{font-family:  "Montserrat", sans-serif;
    font-size: 35px;
    text-decoration: none;
    color: #63347b;
    padding: 20px;

}

h3{font-family:  "Montserrat", sans-serif;
    font-size: 35px;
    text-decoration: none;
    color: #63347b;
    padding: 20px;

}
h4{font-family:  "Montserrat", sans-serif;
    font-size: 35px;
    text-decoration: none;
    color: #63347b;
    padding: 20px;

}

h5{font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    color:#63347b;
    padding: 20px;
    
}
a{  padding: 10px;
    text-decoration: none;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    color:#63347b;


}
img{
    padding: 10px;
}

.img-linkedin{

    display: block;
    padding: 20px;
   
}
