@charset "UTF-8";

*{
    margin: 0;
    padding: 0;

}
html{
    font-size: 62.5%;
    background-color: white;}
h1{
    font-family:  ; 
    font-size: 35px;
    text-decoration: none;
    color: #63347b;
    padding: ;
}
h2{

}

h3{

}
h4{

}

h5{font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    color:#63347b;
    
}
a{
    text-decoration: none;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    color:#63347b;
    text-transform: capitalize;

}

.footer{

    
}