@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{

    font-size: 62.5%;
}

body{
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif
    font-size: 1.5rem;
}
.hero{

   background-image: url(Imagens/bg-3.jpg);
   height: 500px;
   background-size: cover;
   background-position: right center;



}
.hero-content{

    margin: 50px auto 0;
    width: 80%;
    text-align: center;
    color: white;
    text-transform: uppercase;


}

.hero-content h1{

    font-size: 5.6rem;
    text-shadow: 2px 2px 2px black;
}

.container{

    text-align: justify;
    font-size: 1.5rem;
    background-color: rgba(163, 222, 245, 0.768);
    display: block;
    
}

.hero p{

    background-color: rgba(0,0,0,.7);
    display:inline-block;
    font-size: 1.8rem;
    padding: 16px;
    border-bottom: 2px solid;

}