@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{

    font-size: 62.5%;
}

body{
    background-color: azure;
    font-family: "Montserrat" sans-serif;
    font-size: 1.5rem;
}
.hero{

   background-image: url(Imagens/bg-3.jpg);
   height: 500px;
   background-size: cover;
   background-position: right center;



}
.hero-content{

    margin: 50px auto 0;
    width: 80%;
    text-align: center;


}

.container{

    text-align: justify;

    
}